@import '../colors';
@import '../layouts/grid';

%lato-light {
  font-family: 'Lato';
  font-weight: 100;
}

%lato-regular {
  font-family: 'Lato';
  font-weight: 300;
}

%lato-bold {
  font-family: 'Lato';
  font-weight: 700;
}

%title1 {
  @extend %lato-light;
  color: $silver;
  font-size: 2.5em; //40px
  @include breakpoint(max-width $bp-tiny) { font-size: 1.875em; } //30px
}
%title2, %title4 {
  @extend %lato-regular;
}

%title2 {
  color: $silver;
  font-size: 1.5em; //24px
  @include breakpoint(max-width $bp-tiny) { font-size: 1.125em; } //18px
}

%title3, %title4 {
  color: $mine-shaft;
  font-size: 1.25em; //20px
  @include breakpoint(max-width $bp-tiny) { font-size: 1.063em; } //17px
}

%title3 {
  @extend %lato-bold;
}

h1 { @extend %title1; }
h2 { @extend %title2; }
h3 { @extend %title3; }
h4 { @extend %title4; }

