.category-menu {
  text-align: center;
  font: 0.938em 'Lato Light', sans-serif;
}

.category-menu-item {
  display: inline-block;
  margin: 0 1em;
}

.category-menu-link {
  color: $dust-gray;
  text-decoration: none;
}
