.header {
  height: 8.750em;
  overflow: auto;
}

.header-logo-main {
  background: url($blog-sprite-url) -298px 0px no-repeat;
  height: 128px;
  margin: 0 auto;
  width: 245px;
}

.header-logo-internal-pages {
  background: url($blog-sprite-url) -19px -19px no-repeat;
  height: 62px;
  margin: 0 auto;
  width: 144px;
}

.header-search {
  background: url($blog-sprite-url) -115px -110px no-repeat;
  float: right;
  height: 2em;
  margin: 1.875em;
  width: 2em;
}

.header-options {
  background-color: $breaker-bay;
  border-radius: 2em;
  float: left;
  height: 4em;
  width: 4em;
  margin: 1.875em;
}

.header-options-mobile {
  background-color: $breaker-bay;
  border-radius: 2em;
  float: left;
  height: 2.5em;
  width: 2.5em;
  margin: 1.875em;
}

.header-options-line {
  background-color: $white;
  display: block;
  height: 0.188em;
  margin: 0 auto 0.313em;
  width: 1.563em;
  &:first-child {
    margin: 1.375em auto 0.313em;
  }
}

.header-options-line-mobile {
  background-color: $white;
  display: block;
  height: 0.125em;
  margin: 0 auto 0.313em;
  width: 1em;
  &:first-child {
    margin: 0.75em auto 0.313em;
  }
}
