#{$all-text-inputs} {
  @extend %lato-light;
  @include font-size(18px);
  background: $gallery;
  border: 2px solid $gallery;
  color: $mine-shaft;
  max-height: em(50);
  min-width: em(300);
  padding: 1em;
  &.has-info {
    border: 2px solid $alto;
  }
  &.error {
    border-color: red;
    background: $wild-sand;
  }
  &:disabled {
    background: $alto;
    border-color: $alto;
    color: $silver-chalice;
  }
  &:focus {
    border-color: $silver-chalice;
  }
}

