.main-menu {
  @include transition(visibility 0s, opacity 0.3s);
  -webkit-overflow-scrolling: touch;
  background-color: $breaker-bay;
  height: 100%;
  left: 0;
  list-style: none;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 3;
}

.main-menu-option {
  display: block;
  text-align: center;
}

.main-menu-link {
  color: $white;
  display: inline-block;
  font: normal 100 22px 'Lato', sans-serif;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
  text-decoration: blink;
  &::after {
    @include transition(opacity 0.3s, transform 0.3s);
    @include transform(translateY(10px));
    background: rgba(0,0,0,0.1);
    border: 1px dashed $mine-shaft;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  &:hover::after {
    @include transform(translateY(0px));
    opacity: 1;
  }
  &:hover { font: normal 400 22px 'Lato', sans-serif; }
}

.main-menu-logo {
  @extend .header-logo-internal-pages;
  background: url($blog-sprite-url) -578px -18px no-repeat;
  margin: 100px auto 68px;

  @include breakpoint($bp-large) { margin: 44px auto 68px; }
  @include breakpoint($bp-medium) { margin: 196px auto 68px; }
  @include breakpoint($bp-tiny) {
    background: url($blog-sprite-url) -828px -18px no-repeat;
    margin: 32px auto 38px;
    width: 50px;
  }
}
