.main-menu {
  -moz-transition: visibility 0s, opacity 0.3s;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: visibility 0s, opacity 0.3s;
  background-color: $breaker-bay;
  height: 100%;
  left: 0;
  list-style: none;
  opacity: 0;
  overflow: auto;
  padding: 50px;
  position: fixed;
  top: 0;
  transition: visibility 0s, opacity 0.3s;
  visibility: hidden;
  width: 100%;
  z-index: 3;
  @include breakpoint($bp-tiny) { padding: 25px; }
}

.main-menu-option {
  text-align: center;
  display: block;
}

.main-menu-link {
  border-bottom: 1px dashed $breaker-bay;
  color: $white;
  display: inline-block;
  font: normal 100 22px 'Lato', sans-serif;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-decoration: blink;
  &:hover {
    border-bottom: 1px dashed #333333;
    font: normal 400 22px 'Lato', sans-serif;
  }
}

.main-menu-logo {
  @extend .header-logo-internal-pages;
  margin: 100px auto 68px;
  @include breakpoint($bp-large) { margin: 44px auto 68px; }
  @include breakpoint($bp-medium) { margin: 196px auto 68px; }
  @include breakpoint($bp-tiny) { margin: 32px auto 38px; }
}
