.post {
  margin-bottom: 0.625em;
}

.post-date {
  background-color: $silver-chalice;
  color: $white;
  float: left;
  height: 2.5em;
  margin-left: 1.25em;
  text-align: center;
  width: 2.5em;
}

.post-date-day { font: 1.125em 'Lato', sans-serif; }
.post-date-month { font: 0.75em 'Lato', sans-serif; }

.post-body {
  background-color: $wild-sand;
  margin-left: 3.75em;
  padding: 2.5em;
  color: $mine-shaft;
}

.post-title {
  font: normal 400 1.25em 'Lato', sans-serif;
  margin-bottom: 0.625em;
}

.post-info {
  font: normal 300 0.938em 'Lato', sans-serif;
}
