.top {
  list-style: decimal outside;
  padding-left: 2em;
  margin-bottom: 2em;
}

.top-member {
  color: $silver-chalice;
  padding-left: 1em;
  font: 0.875em 'Lato', sans-serif;
  margin-bottom: 1em;
  &:hover { color: $black; }
}

.top-title {
  display: block;
}

.top-author {
  display: block;
}
