/* Dependencies */
/* Thanks to this 3rd party functions */
/* Import base styles*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.f-white {
  color: #FFFFFF; }

.bg-white {
  background: #FFFFFF; }

.f-black {
  color: #000000; }

.bg-black {
  background: #000000; }

.f-breaker-bay {
  color: #56A094; }

.bg-breaker-bay {
  background: #56A094; }

.f-wild-sand {
  color: #F6F6F6; }

.bg-wild-sand {
  background: #F6F6F6; }

.f-silver-chalice {
  color: #AAAAAA; }

.bg-silver-chalice {
  background: #AAAAAA; }

.f-mine-shaft {
  color: #333333; }

.bg-mine-shaft {
  background: #333333; }

.f-punch {
  color: #D84A28; }

.bg-punch {
  background: #D84A28; }

.f-tango {
  color: #EB7C24; }

.bg-tango {
  background: #EB7C24; }

.f-fun-blue {
  color: #1B6BB5; }

.bg-fun-blue {
  background: #1B6BB5; }

.f-oracle {
  color: #377267; }

.bg-oracle {
  background: #377267; }

.f-black-haze {
  color: #EFF0F0; }

.bg-black-haze {
  background: #EFF0F0; }

.f-dust-gray {
  color: #999999; }

.bg-dust-gray {
  background: #999999; }

html {
  font-size: 16px;
  font-family: 'Lato'; }

body, p, h1, h2, h3, h4, h5, h6, section, article, div, ul, li, blockquote {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.25em;
  margin: 0 auto; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
  outline: none; }

/* Import fonts */
h1, p, blockquote, input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
  font-family: 'Lato';
  font-weight: 100; }

h2, h4 {
  font-family: 'Lato';
  font-weight: 300; }

h3 {
  font-family: 'Lato';
  font-weight: 700; }

h1 {
  color: #CCCCCC;
  font-size: 2.5em; }
  @media (max-width: 320px) {
    h1 {
      font-size: 1.875em; } }

h2 {
  color: #CCCCCC;
  font-size: 1.5em; }
  @media (max-width: 320px) {
    h2 {
      font-size: 1.125em; } }

h3, h4 {
  color: #333333;
  font-size: 1.25em; }
  @media (max-width: 320px) {
    h3, h4 {
      font-size: 1.063em; } }

p {
  color: #333333;
  font-size: 0.938em;
  max-width: 804px; }
  @media (min-width: max-width) and (max-width: 320px) {
    p {
      font-size: 1.063em;
      max-width: 100%; } }

blockquote {
  color: #999999;
  font-size: 1.125em; }

#content {
  margin: 0 auto;
  max-width: 86.875em;
  overflow: auto;
  width: 100%; }

.l-half {
  float: left;
  width: 50%; }
  .l-half.last {
    padding-left: 3.125em; }

#header {
  margin-bottom: 2em; }

.main-fixed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto; }
  .main-fixed:after {
    content: " ";
    display: block;
    clear: both; }

.main-fluid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .main-fluid:after {
    content: " ";
    display: block;
    clear: both; }

.l-one-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left; }
  @media (max-width: 1024px) {
    .l-one-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-two-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left; }
  @media (max-width: 1024px) {
    .l-two-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-three-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left; }
  @media (max-width: 1024px) {
    .l-three-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-four-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left; }
  @media (max-width: 1024px) {
    .l-four-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-five-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left; }
  @media (max-width: 1024px) {
    .l-five-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-six-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left; }
  @media (max-width: 1024px) {
    .l-six-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-seven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left; }
  @media (max-width: 1024px) {
    .l-seven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eight-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left; }
  @media (max-width: 1024px) {
    .l-eight-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-nine-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left; }
  @media (max-width: 1024px) {
    .l-nine-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-ten-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left; }
  @media (max-width: 1024px) {
    .l-ten-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eleven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left; }
  @media (max-width: 1024px) {
    .l-eleven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

/* Import module files */
.category-menu {
  text-align: center;
  font: normal 300 0.938em 'Lato', sans-serif; }

.category-menu-item {
  display: inline-block;
  margin: 0 1em; }

.category-menu-link {
  color: #999999;
  text-decoration: none; }

.footer-section {
  background: #F6F6F6;
  border-bottom: 2px solid #FFFFFF;
  height: 12.5em; }

.header {
  height: 8.750em;
  overflow: auto; }

.header-logo-main {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -298px 0px no-repeat;
  height: 128px;
  margin: 0 auto;
  width: 245px; }

.header-logo-internal-pages {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -19px -19px no-repeat;
  height: 62px;
  margin: 0 auto;
  width: 144px; }

.header-search {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -115px -110px no-repeat;
  float: right;
  height: 2em;
  margin: 1.875em;
  width: 2em; }

.header-options {
  background-color: #56A094;
  border-radius: 2em;
  float: left;
  height: 4em;
  width: 4em;
  margin: 1.875em; }

.header-options-mobile {
  background-color: #56A094;
  border-radius: 2em;
  float: left;
  height: 2.5em;
  width: 2.5em;
  margin: 1.875em; }

.header-options-line {
  background-color: #FFFFFF;
  display: block;
  height: 0.188em;
  margin: 0 auto 0.313em;
  width: 1.563em; }
  .header-options-line:first-child {
    margin: 1.375em auto 0.313em; }

.header-options-line-mobile {
  background-color: #FFFFFF;
  display: block;
  height: 0.125em;
  margin: 0 auto 0.313em;
  width: 1em; }
  .header-options-line-mobile:first-child {
    margin: 0.75em auto 0.313em; }

.highlighted {
  background-color: #F6F6F6;
  font: normal 400 1.375em 'Lato', sans-serif;
  height: 3.125em;
  padding: 0.6em;
  text-align: center;
  color: #AAAAAA;
  margin-bottom: 1em;
  line-height: 45px; }

.highlighted-icon {
  display: inline-block;
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -10px -105px no-repeat;
  width: 40px;
  height: 40px;
  vertical-align: -0.625em; }

.post {
  margin-bottom: 0.625em; }

.post-date {
  background-color: #AAAAAA;
  color: #FFFFFF;
  float: left;
  height: 2.5em;
  margin-left: 1.25em;
  text-align: center;
  width: 2.5em; }

.post-date-day {
  font: 1.125em 'Lato', sans-serif; }

.post-date-month {
  font: 0.75em 'Lato', sans-serif; }

.post-body {
  background-color: #F6F6F6;
  margin-left: 3.75em;
  padding: 2.5em;
  color: #333333; }

.post-title {
  font: normal 400 1.25em 'Lato', sans-serif;
  margin-bottom: 0.625em; }

.post-info {
  font-weight: 100; }

.top {
  list-style: decimal outside;
  padding-left: 2em;
  margin-bottom: 2em; }

.top-member {
  color: #AAAAAA;
  padding-left: 1em;
  font: 0.875em 'Lato', sans-serif;
  margin-bottom: 1em; }
  .top-member:hover {
    color: #000000; }

.top-title {
  display: block; }

.top-author {
  display: block; }

.related-links {
  font: normal 400 0.875em 'Lato', sans-serif;
  color: #AAAAAA; }

.related-links-icon {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -165px -105px no-repeat;
  width: 40px;
  height: 20px;
  display: inline-block;
  vertical-align: -3px; }
  .related-links-icon.archive {
    background-position: -170px -105px; }
  .related-links-icon.github {
    background-position: -210px -105px; }
  .related-links-icon.magma {
    background-position: -250px -105px; }

.icon-search {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -118px -109px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-top {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -12px -109px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-comments {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -50px -109px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-comment {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -228px -169px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-archive {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -163px -109px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-github {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -205px -109px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-magma {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -244px -109px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-left-light-arrow {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -10px -167px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-left-dark-arrow {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -70px -167px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-right-dark-arrow {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -100px -167px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-right-light-arrow {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -40px -167px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-horn {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -19px -229px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-twitter {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -19px -269px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-facebook {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -19px -309px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-codeschool {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -19px -349px no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px; }

.icon-pending-green {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -20px -499px no-repeat;
  display: inline-block;
  height: 65px;
  width: 64px; }

.icon-pending-orange {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -120px -499px no-repeat;
  display: inline-block;
  height: 65px;
  width: 64px; }

.icon-pending-blue {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -220px -499px no-repeat;
  display: inline-block;
  height: 65px;
  width: 64px; }

.icon-opensource-jquery {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -20px -608px no-repeat;
  display: inline-block;
  height: 40px;
  width: 90px; }

.icon-opensource-rails {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -139px -619px no-repeat;
  display: inline-block;
  height: 40px;
  width: 32px; }

.icon-opensource-ecommerce {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -190px -615px no-repeat;
  display: inline-block;
  height: 40px;
  width: 90px; }

.icon-opensource-spree {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -295px -615px no-repeat;
  display: inline-block;
  height: 40px;
  width: 90px; }

.icon-organization-magma {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -17px -707px no-repeat;
  display: inline-block;
  height: 47px;
  width: 80px; }

.icon-organization-codificadas {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -130px -717px no-repeat;
  display: inline-block;
  height: 47px;
  width: 80px; }

.icon-organization-railsmx {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -230px -710px no-repeat;
  display: inline-block;
  height: 47px;
  width: 80px; }

.icon-organization-coderetreat {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -337px -702px no-repeat;
  display: inline-block;
  height: 47px;
  width: 80px; }

.icon-organization-startupweekend {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -425px -719px no-repeat;
  display: inline-block;
  height: 47px;
  width: 80px; }

.social-media-twitter {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -20px -419px no-repeat;
  display: inline-block;
  height: 41px;
  width: 41px; }

.social-media-facebook {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -90px -419px no-repeat;
  display: inline-block;
  height: 41px;
  width: 41px; }

.social-media-google {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -160px -419px no-repeat;
  display: inline-block;
  height: 41px;
  width: 41px; }

.social-media-github {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -230px -419px no-repeat;
  display: inline-block;
  height: 41px;
  width: 41px; }

.social-media-linkedin {
  background: url("http://crowdint-styles.s3.amazonaws.com/assets/ci2015_blog_assets.svg") -300px -419px no-repeat;
  display: inline-block;
  height: 41px;
  width: 41px; }

.btn-1 {
  background-color: transparent;
  border: 5px solid #DDDDDD;
  color: #CCCCCC;
  cursor: pointer;
  display: inline-block;
  font: normal 100 0.938em 'Lato', sans-serif;
  height: 60px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  width: 240px; }
  .btn-1:hover {
    background-color: #BBBBBB;
    border: none;
    color: #FFFFFF;
    padding: 21px 0; }

.btn-2 {
  background-color: transparent;
  border: 5px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font: normal 100 0.938em 'Lato', sans-serif;
  height: 60px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  width: 240px; }
  .btn-2:hover {
    background-color: #FFFFFF;
    border: none;
    color: #BBBBBB;
    padding: 21px 0; }

.btn-3 {
  background-color: #DDDDDD;
  border: 5px solid #DDDDDD;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font: normal 100 0.938em 'Lato', sans-serif;
  height: 60px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  width: 240px; }
  .btn-3:hover {
    background-color: #BBBBBB;
    border: none;
    color: #FFFFFF;
    padding: 21px 0; }

.menu-mobile {
  background: #56A094;
  border-radius: 50%;
  border: 1px solid #56A094;
  display: inline-block;
  height: 30px;
  margin: 25px;
  padding: 15px;
  position: relative;
  width: 30px; }
  .menu-mobile span {
    margin: 0 auto;
    position: relative;
    top: 12.5px;
    background-color: #FFFFFF;
    display: block;
    height: 3px;
    width: 25px; }
    .menu-mobile span:before, .menu-mobile span:after {
      content: '';
      position: absolute; }
    .menu-mobile span:before, .menu-mobile span:after {
      background-color: white;
      display: block;
      height: 3px;
      width: 25px; }
    .menu-mobile span:before {
      margin-top: -8px; }
    .menu-mobile span:after {
      margin-top: 8px; }

.menu-desktop {
  background: #56A094;
  border-radius: 50%;
  border: 1px solid #56A094;
  display: inline-block;
  height: 44px;
  margin: 25px;
  padding: 22px;
  position: relative;
  width: 44px; }
  .menu-desktop span {
    margin: 0 auto;
    position: relative;
    top: 18.33333px;
    background-color: #FFFFFF;
    display: block;
    height: 3px;
    width: 36.66667px; }
    .menu-desktop span:before, .menu-desktop span:after {
      content: '';
      position: absolute; }
    .menu-desktop span:before, .menu-desktop span:after {
      background-color: white;
      display: block;
      height: 3px;
      width: 36.66667px; }
    .menu-desktop span:before {
      margin-top: -11.73333px; }
    .menu-desktop span:after {
      margin-top: 11.73333px; }

.menu-tiny {
  background: #56A094;
  border-radius: 50%;
  border: 1px solid #56A094;
  display: inline-block;
  height: 20px;
  margin: 25px;
  padding: 10px;
  position: relative;
  width: 20px; }
  .menu-tiny span {
    margin: 0 auto;
    position: relative;
    top: 8.33333px;
    background-color: #FFFFFF;
    display: block;
    height: 3px;
    width: 16.66667px; }
    .menu-tiny span:before, .menu-tiny span:after {
      content: '';
      position: absolute; }
    .menu-tiny span:before, .menu-tiny span:after {
      background-color: white;
      display: block;
      height: 3px;
      width: 16.66667px; }
    .menu-tiny span:before {
      margin-top: -5.33333px; }
    .menu-tiny span:after {
      margin-top: 5.33333px; }

.animate-to-x span {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; }
.animate-to-x:hover span {
  -webkit-transition-delay: .2s;
  background-color: transparent;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; }
.animate-to-x span:before {
  -webkit-transition-property: transition-property-names(margin, -webkit-transform, "webkit");
  -moz-transition-property: transition-property-names(margin, -webkit-transform, "moz");
  transition-property: transition-property-names(margin, -webkit-transform, false);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0;
  -moz-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0; }
.animate-to-x:hover span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0, 0.2s;
  -moz-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s; }
.animate-to-x span:after {
  -webkit-transition-property: transition-property-names(margin, -webkit-transform, "webkit");
  -moz-transition-property: transition-property-names(margin, -webkit-transform, "moz");
  transition-property: transition-property-names(margin, -webkit-transform, false);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0;
  -moz-transition-delay: 0.2s, 0;
  transition-delay: 0.2s, 0; }
.animate-to-x:hover span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition-delay: 0, 0.2s;
  -moz-transition-delay: 0, 0.2s;
  transition-delay: 0, 0.2s; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
  font-size: 18px;
  font-size: 1.125rem;
  background: #EEEEEE;
  border: 2px solid #EEEEEE;
  color: #333333;
  max-height: 3.125em;
  min-width: 18.75em;
  padding: 1em; }
  input[type="color"].has-info, input[type="date"].has-info, input[type="datetime"].has-info, input[type="datetime-local"].has-info, input[type="email"].has-info, input[type="month"].has-info, input[type="number"].has-info, input[type="password"].has-info, input[type="search"].has-info, input[type="tel"].has-info, input[type="text"].has-info, input[type="time"].has-info, input[type="url"].has-info, input[type="week"].has-info, textarea.has-info {
    border: 2px solid #DDDDDD; }
  input[type="color"].error, input[type="date"].error, input[type="datetime"].error, input[type="datetime-local"].error, input[type="email"].error, input[type="month"].error, input[type="number"].error, input[type="password"].error, input[type="search"].error, input[type="tel"].error, input[type="text"].error, input[type="time"].error, input[type="url"].error, input[type="week"].error, textarea.error {
    border-color: red;
    background: #F6F6F6; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, textarea:disabled {
    background: #DDDDDD;
    border-color: #DDDDDD;
    color: #AAAAAA; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus {
    border-color: #AAAAAA; }

/* Import state and helper files */
.text-center {
  text-align: center; }
