/* Import fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local("Lato Hairline"), local("Lato-Hairline"), url(http://fonts.gstatic.com/l/font?kit=O_zV-zpES8m70ZJ2G0sHzChqGa-CSr3nQtF3lrv2wWeu7RP096c_0cFQ7arjjB7ybFaXKHeky_O7IdzbE_trRh2NL1ThVuLv506WDWjwTFK0tkCcv8VGcP6XCC56Ww8-) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(http://fonts.gstatic.com/l/font?kit=AgYOQ731ufUQTvv4tet3mkosB6nLuSa-iuRDVH7ia7YFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/l/font?kit=B-G4Bu_a_PZWRWhXrFbbq3gShx1I3EQEk3P0UXxV4G1dxlT5RfGIy95sQWGkHIXZT_wDREvo4O6_6v9ljamcpjDjNODm32iLRYw2SNTAhDi20L9efk2PUOdb5H1Th4EY) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(http://fonts.gstatic.com/l/font?kit=Y-oq9SOo56NWVEK0VUtEkkosB6nLuSa-iuRDVH7ia7YFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(http://fonts.gstatic.com/l/font?kit=o2KJdCQNtpcOZqCR_p9HSkosB6nLuSa-iuRDVH7ia7YFjxAsoMPe6KTmxHr8yBfIjVpFoe6rX3ET310906cqDO5a0y2yM-buDzIWb-IT1VZnJfANE-_pKN9C1ZsKTQQU) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url(http://fonts.gstatic.com/l/font?kit=TQq5kuiDwiVMSCt-_TEgbEcqwH9zdArWjc7XlrFd-2TsPXYqTGLZ2U8sggWmBN11vY_KnrbECKVYwT5jML176E-hCdHeAh1EypZggr0U53BuXxQghSWdr5fKRAiL7DYm) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(http://fonts.gstatic.com/l/font?kit=_ZtpK0Io6KXGBI3QakDTI9oLqSWmDCRj17QBVup6CqJMKDW7wr8-mFUtZxX0An9Hxjwkr35EAwjGz2xBtHyf46VYFdkcnG3BQC4BAwdRBqtuAtmJ8SPLz6DEExiJ-m1d) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(http://fonts.gstatic.com/l/font?kit=x7Ed4ORAgJBSCB0gu3ZtNShqGa-CSr3nQtF3lrv2wWeu7RP096c_0cFQ7arjjB7ybFaXKHeky_O7IdzbE_trRh2NL1ThVuLv506WDWjwTFK0tkCcv8VGcP6XCC56Ww8-) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(http://fonts.gstatic.com/l/font?kit=2vim0nnEJb7n9befyPUEtNoLqSWmDCRj17QBVup6CqJMKDW7wr8-mFUtZxX0An9Hxjwkr35EAwjGz2xBtHyf46VYFdkcnG3BQC4BAwdRBqtuAtmJ8SPLz6DEExiJ-m1d) format("woff2"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url(http://fonts.gstatic.com/l/font?kit=5-SliAaOFvCUVkONJSRRQ9oLqSWmDCRj17QBVup6CqJMKDW7wr8-mFUtZxX0An9Hxjwkr35EAwjGz2xBtHyf46VYFdkcnG3BQC4BAwdRBqtuAtmJ8SPLz6DEExiJ-m1d) format("woff2"); }
/* Import base styles*/
html {
  font-size: 16px; }

body, p, h1, h2, h3, h4, h5, h6, section, article, div, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.25em; }

/* Import layout files */
#content {
  margin: 0 auto;
  max-width: 86.875em;
  overflow: auto;
  width: 100%; }

.l-half {
  float: left;
  width: 50%; }
  .l-half.last {
    padding-left: 3.125em; }

#header {
  margin-bottom: 2em; }

/* Changing Susy default global settings */
/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Tells Susy there's 8 columns in the content */
.main {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 80%, transparent 80%);
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main:after {
    content: " ";
    display: block;
    clear: both; }

.content, .sidebar {
  height: 200px;
  padding: 15px;
  font-weight: bold;
  font-family: Lato; }

.content {
  background: red; }
  @media (min-width: 320px) {
    .content {
      background: rgba(0, 0, 255, 0.1); } }
  @media (min-width: 640px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: rgba(0, 0, 255, 0.3); } }
  @media (min-width: 800px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: rgba(0, 0, 255, 0.5); } }
  @media (min-width: 1024px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: blue;
      color: white; } }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  background: orange; }
  @media (min-width: 320px) {
    .sidebar {
      background: rgba(0, 128, 0, 0.1); } }
  @media (min-width: 640px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: rgba(0, 128, 0, 0.3); } }
  @media (min-width: 800px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: rgba(0, 128, 0, 0.5); } }
  @media (min-width: 1024px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: green;
      color: white; } }

.hidden-tiny {
  display: none; }
  @media (min-width: 320px) {
    .hidden-tiny {
      display: block; } }

.main-fixed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 100%, transparent 100%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main-fixed:after {
    content: " ";
    display: block;
    clear: both; }

.main-fluid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 100%, transparent 100%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main-fluid:after {
    content: " ";
    display: block;
    clear: both; }

.l-one-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-one-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-two-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-two-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-three-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-three-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-four-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-four-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-five-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-five-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-six-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-six-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-seven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-seven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eight-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-eight-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-nine-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-nine-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-ten-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-ten-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eleven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-eleven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

/* Import module files */
.category-menu {
  text-align: center;
  font: normal 300 0.938em 'Lato', sans-serif; }

.category-menu-item {
  display: inline-block;
  margin: 0 1em; }

.category-menu-link {
  color: #999999;
  text-decoration: none; }

.footer-section {
  background: #F6F6F6;
  border-bottom: 2px solid #FFFFFF;
  height: 12.5em; }

.header {
  height: 8.750em;
  overflow: auto; }

.header-logo {
  background: url("../images/ci2015_blog_assets.svg") no-repeat;
  height: 5em;
  margin: 0 auto;
  width: 11em; }

.header-search {
  background: url("../images/ci2015_blog_assets.svg") -115px -110px no-repeat;
  float: right;
  height: 2em;
  margin: 1.875em;
  width: 2em; }

.header-options {
  background-color: #56a094;
  border-radius: 2em;
  float: left;
  height: 4em;
  width: 4em;
  margin: 1.875em; }

.header-options-line {
  background-color: #FFFFFF;
  display: block;
  height: 0.188em;
  margin: 0 auto 0.313em;
  width: 1.563em; }
  .header-options-line:first-child {
    margin: 1.375em auto 0.313em; }

.highlighted {
  background-color: #F6F6F6;
  font: normal 400 1.375em 'Lato', sans-serif;
  height: 3.125em;
  padding: 0.6em;
  text-align: center;
  color: #AAAAAA;
  margin-bottom: 1em;
  line-height: 45px; }

.highlighted-icon {
  display: inline-block;
  background: url("../images/ci2015_blog_assets.svg") -10px -105px no-repeat;
  width: 40px;
  height: 40px;
  vertical-align: -0.625em; }

.post {
  margin-bottom: 0.625em; }

.post-date {
  background-color: #AAAAAA;
  color: #FFFFFF;
  float: left;
  height: 2.5em;
  margin-left: 1.25em;
  text-align: center;
  width: 2.5em; }

.post-date-day {
  font: 1.125em 'Lato', sans-serif; }

.post-date-month {
  font: 0.75em 'Lato', sans-serif; }

.post-body {
  background-color: #F6F6F6;
  margin-left: 3.75em;
  padding: 2.5em;
  color: #222222; }

.post-title {
  font: normal 400 1.25em 'Lato', sans-serif;
  margin-bottom: 0.625em; }

.post-info {
  font: normal 300 0.938em 'Lato', sans-serif; }

.top {
  list-style: decimal outside;
  padding-left: 2em;
  margin-bottom: 2em; }

.top-member {
  color: #AAAAAA;
  padding-left: 1em;
  font: 0.875em 'Lato Regular', sans-serif;
  margin-bottom: 1em; }
  .top-member:hover {
    color: #000000; }

.top-title {
  display: block; }

.top-author {
  display: block; }

.related-links {
  font: normal 400 0.875em 'Lato', sans-serif;
  color: #AAAAAA; }

.related-links-icon {
  background: url("../images/ci2015_blog_assets.svg") -165px -105px no-repeat;
  width: 40px;
  height: 20px;
  display: inline-block;
  vertical-align: -3px; }
  .related-links-icon.archive {
    background-position: -170px -105px; }
  .related-links-icon.github {
    background-position: -210px -105px; }
  .related-links-icon.magma {
    background-position: -250px -105px; }

/* Import state files */

/*# sourceMappingURL=main.css.map */
