/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.f-white {
  color: #FFFFFF; }

.bg-white {
  background: #FFFFFF; }

.f-black {
  color: #000000; }

.bg-black {
  background: #000000; }

.f-breaker-bay {
  color: #56A094; }

.bg-breaker-bay {
  background: #56A094; }

.f-wild-sand {
  color: #F6F6F6; }

.bg-wild-sand {
  background: #F6F6F6; }

.f-silver-chalice {
  color: #AAAAAA; }

.bg-silver-chalice {
  background: #AAAAAA; }

.f-mine-shaft {
  color: #333333; }

.bg-mine-shaft {
  background: #333333; }

.f-punch {
  color: #D84A28; }

.bg-punch {
  background: #D84A28; }

.f-tango {
  color: #EB7C24; }

.bg-tango {
  background: #EB7C24; }

.f-fun-blue {
  color: #1B6BB5; }

.bg-fun-blue {
  background: #1B6BB5; }

.f-oracle {
  color: #377267; }

.bg-oracle {
  background: #377267; }

.f-black-haze {
  color: #EFF0F0; }

.bg-black-haze {
  background: #EFF0F0; }

.f-dust-gray {
  color: #999999; }

.bg-dust-gray {
  background: #999999; }

/* Changing Susy default global settings */
/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Tells Susy there's 8 columns in the content */
.main {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
  .main:after {
    content: " ";
    display: block;
    clear: both; }

.content, .sidebar {
  height: 200px;
  padding: 15px;
  font-weight: bold;
  font-family: Lato; }

.content {
  background: red; }
  @media (min-width: 320px) {
    .content {
      background: rgba(0, 0, 255, 0.1); } }
  @media (min-width: 640px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: rgba(0, 0, 255, 0.3); } }
  @media (min-width: 800px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: rgba(0, 0, 255, 0.5); } }
  @media (min-width: 1024px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: blue;
      color: white; } }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  background: orange; }
  @media (min-width: 320px) {
    .sidebar {
      background: rgba(0, 128, 0, 0.1); } }
  @media (min-width: 640px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: rgba(0, 128, 0, 0.3); } }
  @media (min-width: 800px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: rgba(0, 128, 0, 0.5); } }
  @media (min-width: 1024px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: green;
      color: white; } }

.hidden-tiny {
  display: none; }
  @media (min-width: 320px) {
    .hidden-tiny {
      display: block; } }

h1 {
  font-family: 'Lato';
  font-weight: 100; }

h2, h4 {
  font-family: 'Lato';
  font-weight: 300; }

h3 {
  font-family: 'Lato';
  font-weight: 700; }

h1 {
  color: #CCCCCC;
  font-size: 2.5em; }
  @media (max-width: 320px) {
    h1 {
      font-size: 1.875em; } }

h2 {
  color: #CCCCCC;
  font-size: 1.5em; }
  @media (max-width: 320px) {
    h2 {
      font-size: 1.125em; } }

h3, h4 {
  color: #333333;
  font-size: 1.25em; }
  @media (max-width: 320px) {
    h3, h4 {
      font-size: 1.063em; } }

/* Import base styles*/
.f-white {
  color: #FFFFFF; }

.bg-white {
  background: #FFFFFF; }

.f-black {
  color: #000000; }

.bg-black {
  background: #000000; }

.f-breaker-bay {
  color: #56A094; }

.bg-breaker-bay {
  background: #56A094; }

.f-wild-sand {
  color: #F6F6F6; }

.bg-wild-sand {
  background: #F6F6F6; }

.f-silver-chalice {
  color: #AAAAAA; }

.bg-silver-chalice {
  background: #AAAAAA; }

.f-mine-shaft {
  color: #333333; }

.bg-mine-shaft {
  background: #333333; }

.f-punch {
  color: #D84A28; }

.bg-punch {
  background: #D84A28; }

.f-tango {
  color: #EB7C24; }

.bg-tango {
  background: #EB7C24; }

.f-fun-blue {
  color: #1B6BB5; }

.bg-fun-blue {
  background: #1B6BB5; }

.f-oracle {
  color: #377267; }

.bg-oracle {
  background: #377267; }

.f-black-haze {
  color: #EFF0F0; }

.bg-black-haze {
  background: #EFF0F0; }

.f-dust-gray {
  color: #999999; }

.bg-dust-gray {
  background: #999999; }

html {
  font-size: 16px;
  font-family: 'Lato'; }

body, p, h1, h2, h3, h4, h5, h6, section, article, div, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.25em; }

/* Import layout files */
#content {
  margin: 0 auto;
  max-width: 86.875em;
  overflow: auto;
  width: 100%; }

.l-half {
  float: left;
  width: 50%; }
  .l-half.last {
    padding-left: 3.125em; }

#header {
  margin-bottom: 2em; }

/* Changing Susy default global settings */
/* Makes border-box properties */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Tells Susy there's 8 columns in the content */
.main {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto; }
  .main:after {
    content: " ";
    display: block;
    clear: both; }

.content, .sidebar {
  height: 200px;
  padding: 15px;
  font-weight: bold;
  font-family: Lato; }

.content {
  background: red; }
  @media (min-width: 320px) {
    .content {
      background: rgba(0, 0, 255, 0.1); } }
  @media (min-width: 640px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: rgba(0, 0, 255, 0.3); } }
  @media (min-width: 800px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: rgba(0, 0, 255, 0.5); } }
  @media (min-width: 1024px) {
    .content {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      background: blue;
      color: white; } }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  background: orange; }
  @media (min-width: 320px) {
    .sidebar {
      background: rgba(0, 128, 0, 0.1); } }
  @media (min-width: 640px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: rgba(0, 128, 0, 0.3); } }
  @media (min-width: 800px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: rgba(0, 128, 0, 0.5); } }
  @media (min-width: 1024px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      float: right;
      margin-right: 0;
      background: green;
      color: white; } }

.hidden-tiny {
  display: none; }
  @media (min-width: 320px) {
    .hidden-tiny {
      display: block; } }

.main-fixed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 100%, transparent 100%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main-fixed:after {
    content: " ";
    display: block;
    clear: both; }

.main-fluid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 100%, transparent 100%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main-fluid:after {
    content: " ";
    display: block;
    clear: both; }

.l-one-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-one-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-two-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-two-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-three-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-three-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-four-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-four-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-five-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-five-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-six-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-six-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-seven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-seven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eight-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-eight-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-nine-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-nine-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-ten-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-ten-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eleven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-eleven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

/* Import module files */
.category-menu {
  text-align: center;
  font: normal 300 0.938em 'Lato', sans-serif; }

.category-menu-item {
  display: inline-block;
  margin: 0 1em; }

.category-menu-link {
  color: #999999;
  text-decoration: none; }

.footer-section {
  background: #F6F6F6;
  border-bottom: 2px solid #FFFFFF;
  height: 12.5em; }

.header {
  height: 8.750em;
  overflow: auto; }

.header-logo {
  background: url("../images/ci2015_blog_assets.svg") no-repeat;
  height: 5em;
  margin: 0 auto;
  width: 11em; }

.header-search {
  background: url("../images/ci2015_blog_assets.svg") -115px -110px no-repeat;
  float: right;
  height: 2em;
  margin: 1.875em;
  width: 2em; }

.header-options {
  background-color: #56A094;
  border-radius: 2em;
  float: left;
  height: 4em;
  width: 4em;
  margin: 1.875em; }

.header-options-line {
  background-color: #FFFFFF;
  display: block;
  height: 0.188em;
  margin: 0 auto 0.313em;
  width: 1.563em; }
  .header-options-line:first-child {
    margin: 1.375em auto 0.313em; }

.highlighted {
  background-color: #F6F6F6;
  font: normal 400 1.375em 'Lato', sans-serif;
  height: 3.125em;
  padding: 0.6em;
  text-align: center;
  color: #AAAAAA;
  margin-bottom: 1em;
  line-height: 45px; }

.highlighted-icon {
  display: inline-block;
  background: url("../images/ci2015_blog_assets.svg") -10px -105px no-repeat;
  width: 40px;
  height: 40px;
  vertical-align: -0.625em; }

.post {
  margin-bottom: 0.625em; }

.post-date {
  background-color: #AAAAAA;
  color: #FFFFFF;
  float: left;
  height: 2.5em;
  margin-left: 1.25em;
  text-align: center;
  width: 2.5em; }

.post-date-day {
  font: 1.125em 'Lato', sans-serif; }

.post-date-month {
  font: 0.75em 'Lato', sans-serif; }

.post-body {
  background-color: #F6F6F6;
  margin-left: 3.75em;
  padding: 2.5em;
  color: #333333; }

.post-title {
  font: normal 400 1.25em 'Lato', sans-serif;
  margin-bottom: 0.625em; }

.post-info {
  font-weight: 100; }

.top {
  list-style: decimal outside;
  padding-left: 2em;
  margin-bottom: 2em; }

.top-member {
  color: #AAAAAA;
  padding-left: 1em;
  font: 0.875em 'Lato', sans-serif;
  margin-bottom: 1em; }
  .top-member:hover {
    color: #000000; }

.top-title {
  display: block; }

.top-author {
  display: block; }

.related-links {
  font: normal 400 0.875em 'Lato', sans-serif;
  color: #AAAAAA; }

.related-links-icon {
  background: url("../images/ci2015_blog_assets.svg") -165px -105px no-repeat;
  width: 40px;
  height: 20px;
  display: inline-block;
  vertical-align: -3px; }
  .related-links-icon.archive {
    background-position: -170px -105px; }
  .related-links-icon.github {
    background-position: -210px -105px; }
  .related-links-icon.magma {
    background-position: -250px -105px; }

/* Import state files */
