.main-fixed {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1390px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 100%, transparent 100%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main-fixed:after {
    content: " ";
    display: block;
    clear: both; }

.main-fluid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.125), rgba(77, 77, 255, 0.125) 100%, transparent 100%);
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  .main-fluid:after {
    content: " ";
    display: block;
    clear: both; }

.l-one-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-one-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-two-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-two-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-three-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-three-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-four-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-four-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-five-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 41.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-five-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-six-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-six-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-seven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 58.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-seven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eight-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-eight-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-nine-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-nine-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-ten-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-ten-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

.l-eleven-column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 91.66667%;
  float: left;
  border: 1px solid black; }
  @media (max-width: 1024px) {
    .l-eleven-column {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; } }

/*# sourceMappingURL=grid2.css.map */
