$white:           #FFFFFF;
$black:           #000000;
$breaker-bay:     #56A094;
$wild-sand:       #F6F6F6;
$silver-chalice:  #AAAAAA;
$mine-shaft:      #333333;

// Secondary Colors
$punch:           #D84A28;
$tango:           #EB7C24;
$fun-blue:        #1B6BB5;
$oracle:          #377267;
$black-haze:      #EFF0F0;
$dust-gray:       #999999;
$silver:          #CCCCCC;
$silver-dark:     #BBBBBB;
$alto:            #DDDDDD;

// Other colors
$gallery:         #EEEEEE;

$colors-list: white $white,
              black $black,
              breaker-bay $breaker-bay,
              wild-sand $wild-sand,
              silver-chalice $silver-chalice,
              mine-shaft $mine-shaft,
              punch $punch,
              tango $tango,
              fun-blue $fun-blue,
              oracle $oracle,
              black-haze $black-haze,
              dust-gray $dust-gray;

@each $context in $colors-list {
    #{".f-" + nth($context,1)} {
      color: nth($context, 2);
    }
    #{".bg-" + nth($context,1)} {
        background: nth($context, 2);
    }
}
