@mixin icons($x, $y, $height: 32px, $width: 32px) {
  background: url($blog-sprite-url) $x $y no-repeat;
  display: inline-block;
  height: $height;
  width: $width;
}

$btn-default: ( background: transparent,
                border-color: $white,
                color: $white,
                hover-bg-color: $silver-dark,
                hover-color: $white,
                active-bg-color: $dust-gray,
                active-color: $white,
                disabled-border-color: $gallery,
                disabled-color: $alto );

@mixin button($custom) {
  $settings: map-merge($btn-default, $custom);

  background-color: map-get($settings, 'background');
  border: 4px solid map-get($settings, 'border-color');
  color: map-get($settings, 'color');
  cursor: pointer;
  display: inline-block;
  font: 100 18px Lato;
  height: 60px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  width: 240px;
  &:hover {
    background-color: map-get($settings, 'hover-bg-color');
    border-color: map-get($settings, 'hover-bg-color');
    color: map-get($settings, 'hover-color');
  }
  &:active {
    background: map-get($settings, 'active-bg-color');
    border-color: map-get($settings, 'active-bg-color');
    color: map-get($settings, 'active-color');
  }
  &:disabled {
    background: transparent;
    border-color: map-get($settings, 'disabled-border-color');
    color: map-get($settings, 'disabled-color');
    cursor: not-allowed;
  }
}

@mixin menu($width) {
  background: $breaker-bay;
  border-radius: 50%;
  border: 1px solid $breaker-bay;
  display: inline-block;
  height: $width;
  margin: 25px;
  padding: $width / 2;
  position: relative;
  width: $width;
  span {
    margin: 0 auto;
    position: relative;
    top: $width / 2.4;
    &:before, &:after {
      content: '';
      position: absolute;
    }
    background-color: $white;
    display: block;
    height: 3px;
    width: $width / 1.2;
    &:before, &:after {
      background-color: white;
      display: block;
      height: 3px;
      width: $width / 1.2;
    }
    &:before { margin-top: -1 * ($width / 3.75); }
    &:after { margin-top: $width / 3.75; }
  }
}


@mixin font-size($size-px) {
  font-size: $size-px;
  font-size: rem($size-px);
}
