@mixin icons($x, $y, $height: 2em, $width: 2em) {
  background: url('../images/ci2015_blog_assets.svg') $x $y no-repeat;
  display: inline-block;
  height: $height;
  width: $width;
}

@mixin buttons($bg-color, $border, $color, $hover-bg-color, $hover-color) {
  background-color: $bg-color;
  border: $border;
  color: $color;
  cursor: pointer;
  display: inline-block;
  font: normal 100 0.938em 'Lato', sans-serif;
  height: 60px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  width: 240px;
  &:hover {
    background-color: $hover-bg-color;
    border: none;
    color: $hover-color;
    padding: 21px 0;
  }
}
