@import '../../bower_components/susy/sass/_susy';
@import '../../bower_components/breakpoint-sass/stylesheets/_breakpoint';

/* Changing Susy default global settings */
$susy: (
  /* Tells Susy to use 12 columns */
  columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
  container: 1120px,
  /* Tells Susy to use border-box */
  global-box-sizing: border-box,
  /* Debug config for debugging */
  debug: (
    image: show,
    color: rgba(blue, .125),
    output: background
  )
);

$bp-tiny: 320px;
$bp-small: 640px;
$bp-medium: 800px;
$bp-large: 1024px;

/* Makes border-box properties */
@include border-box-sizing;/* Tells Susy there's 8 columns in the content */

.main {
  @include container;
}

.content, .sidebar {
  height: 200px;
  padding: 15px;
  font-weight: bold;
  font-family: Lato;
}

.content {
  background: red;
  @include breakpoint($bp-tiny){
    background: rgba(blue, .1);
  }
  @include breakpoint($bp-small){
    @include span(8);
    background: rgba(blue, .3);
  }
  @include breakpoint($bp-medium){
    @include span(8);
    background: rgba(blue, .5);
  }
  @include breakpoint($bp-large){
    @include span(8);
    background: rgba(blue, 1);
    color: white;
  }
}

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
.sidebar {
  background: orange;
  @include breakpoint($bp-tiny){
    background: rgba(green, .1);
  }
  @include breakpoint($bp-small){
    @include span(4);
    @include last;
    background: rgba(green, .3);
  }
  @include breakpoint($bp-medium){
    @include span(4);
    @include last;
    background: rgba(green, .5);
  }
  @include breakpoint($bp-large){
    @include span(4);
    @include last;
    background: rgba(green, 1);
    color: white;
  }
}
.hidden-tiny{
  display: none;
  @include breakpoint($bp-tiny){
    display: block;
  }
}
