/*
Error: Undefined variable: "$wild-sand".
        on line 2 of assets/stylesheets/modules/highlighted.scss

1: .highlighted {
2:   background-color: $wild-sand;
3:   font: 1.375em 'Lato Regular', sans-serif;
4:   height: 3.125em;
5:   padding: 1em;
6:   text-align: center;
7:   color: $silver-chalice;

Backtrace:
assets/stylesheets/modules/highlighted.scss:2
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/listener.rb:252:in `call'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/listener.rb:252:in `on_change'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/listener.rb:287:in `block in initialize_adapter'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/adapter.rb:252:in `call'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/adapter.rb:252:in `report_changes'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Users/edmundoperez/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/listen-1.2.2/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$wild-sand\".\A         on line 2 of assets/stylesheets/modules/highlighted.scss\A \A 1: .highlighted {\A 2:   background-color: $wild-sand;\A 3:   font: 1.375em 'Lato Regular', sans-serif;\A 4:   height: 3.125em;\A 5:   padding: 1em;\A 6:   text-align: center;\A 7:   color: $silver-chalice;"; }
