.icon-search {
  background: url("../images/ci2015_blog_assets.svg") -115px -110px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-top {
  background: url("../images/ci2015_blog_assets.svg") -13px -110px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-comments {
  background: url("../images/ci2015_blog_assets.svg") -50px -110px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-comment {
  background: url("../images/ci2015_blog_assets.svg") -228px -168px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-archive {
  background: url("../images/ci2015_blog_assets.svg") -160px -110px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-github {
  background: url("../images/ci2015_blog_assets.svg") -205px -110px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-magma {
  background: url("../images/ci2015_blog_assets.svg") -245px -110px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-left-light-arrow {
  background: url("../images/ci2015_blog_assets.svg") -10px -168px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-left-dark-arrow {
  background: url("../images/ci2015_blog_assets.svg") -70px -168px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-right-dark-arrow {
  background: url("../images/ci2015_blog_assets.svg") -100px -168px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-right-light-arrow {
  background: url("../images/ci2015_blog_assets.svg") -40px -168px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-horn {
  background: url("../images/ci2015_blog_assets.svg") -20px -230px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-twitter {
  background: url("../images/ci2015_blog_assets.svg") -20px -270px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-facebook {
  background: url("../images/ci2015_blog_assets.svg") -20px -310px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-codeschool {
  background: url("../images/ci2015_blog_assets.svg") -20px -350px no-repeat;
  display: inline-block;
  height: 2em;
  width: 2em; }

.icon-pending-green {
  background: url("../images/ci2015_blog_assets.svg") -20px -500px no-repeat;
  display: inline-block;
  height: 4em;
  width: 4em; }

.icon-pending-orange {
  background: url("../images/ci2015_blog_assets.svg") -120px -500px no-repeat;
  display: inline-block;
  height: 4em;
  width: 4em; }

.icon-pending-blue {
  background: url("../images/ci2015_blog_assets.svg") -220px -500px no-repeat;
  display: inline-block;
  height: 4em;
  width: 4em; }

.icon-opensource-jquery {
  background: url("../images/ci2015_blog_assets.svg") -20px -615px no-repeat;
  display: inline-block;
  height: 2.5em;
  width: 6em; }

.icon-opensource-rails {
  background: url("../images/ci2015_blog_assets.svg") -140px -619px no-repeat;
  display: inline-block;
  height: 2.5em;
  width: 2em; }

.icon-opensource-ecommerce {
  background: url("../images/ci2015_blog_assets.svg") -190px -615px no-repeat;
  display: inline-block;
  height: 2.5em;
  width: 6em; }

.icon-opensource-spree {
  background: url("../images/ci2015_blog_assets.svg") -295px -615px no-repeat;
  display: inline-block;
  height: 2.5em;
  width: 6em; }

.icon-organization-magma {
  background: url("../images/ci2015_blog_assets.svg") -17px -715px no-repeat;
  display: inline-block;
  height: 3.5em;
  width: 5em; }

.icon-organization-codificadas {
  background: url("../images/ci2015_blog_assets.svg") -130px -715px no-repeat;
  display: inline-block;
  height: 3.5em;
  width: 5em; }

.icon-organization-railsmx {
  background: url("../images/ci2015_blog_assets.svg") -230px -715px no-repeat;
  display: inline-block;
  height: 3.5em;
  width: 5em; }

.icon-organization-coderetreat {
  background: url("../images/ci2015_blog_assets.svg") -337px -715px no-repeat;
  display: inline-block;
  height: 3.5em;
  width: 5em; }

.icon-organization-startupweekend {
  background: url("../images/ci2015_blog_assets.svg") -425px -715px no-repeat;
  display: inline-block;
  height: 3.5em;
  width: 5em; }
